.container {
    background-color: #145174;
    width: 970px;
}
#logo_search {
    padding-top: 20px;
}

#logo, #search {
    display: inline-block;
    vertical-align: top;
}

#search {
    margin-left: 450px;
    background: #444444;
    height: 46px;
    width: 183px;
    border-radius: 7px;
    text-align: center;
    padding-top: 26px;
}  
#search_bar, #gobtn{
    display: inline-block;

}

#menubar nav a {
        text-decoration: none;
        text-align: center;
        margin-top: 10px;
        background: #3880AA;

}

#nav{
    height: 100px;
    width: 890px;
    margin-left: 35px;
    font-family: arial;
    font-size: 25px;
    
}

#navigation {
    display: inline-grid;
    width: 220px;
    height: 220px;
    text-align: center;
    vertical-align: text-top;
    font-size: 19px;
    padding: 33px;
}

#navigation a p1{
    display: inline-block
}

#menubar {
    height: 30px;
    word-spacing: 5em;
    margin-left: 40px;
    padding-top: 10px;
    border-radius: 5px;
    margin-right: 35px;
    background: #3880AA;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif
}

a {
    color: white;
}


p1,p3{ color: white;
        display: inline-block;
        width: 600px;
        margin-left: 37px;
        text-align: center;
}


p2 {
    color: yellow;
    display: inline-block;
    width: 600px;
    margin-left: 37px;
    text-align: center;
}



#menucontent {
    display: inline-block;

}
#content{
    display: inline-block;
    width: 635px;
    margin-top: 20px;
    height:355px;
    text-align: center;
    vertical-align: text-top;

}

#coulmn2{
    background: white;
    height: 220px;
    width: 970px;
    text-align: center;
    display: inline-flex;
}
.info {
    width: 48%;
    padding: 0px 38px;
}

#level1{
    text-decoration: none;
    text-align: center;
    word-spacing: 2px;
    padding: 10px;
}
#copyright{
    text-align: center;
}