html {
    -webkit-font-smoothing: antialiased;
    font-family: Consolas;
    font-weight: 500;
}

.container {
    background-color: #205173;
}

#header {
    background-color: #1A242B;
    /* font-size: 15px; */
}

.header_menu {
    width: 12%;
    display: inline-block;
    text-align: center;
    padding: 20px;
}

.header_menu a {
    text-decoration: none;
    color: #FCFCFC;
}

#main_bar {
    width: 80%;
    margin: 0 auto;
}

#menu_bar {
    width: 80%;
    background-image: linear-gradient(#3776ab 30%,#2d618c 95%);
    margin: 0 auto;
    border-radius: 8px;
    text-align: center;
}

.menubar_cls {
    width: 10%;
    display: inline-block;
    padding: 15px;

}
#go_btn {
    height: 35px;
    width: 35px;
    background-image: linear-gradient(#3776ab 30%,#2d618c 95%);
    vertical-align: top;
    text-align: center;
    padding-top: 3px;
    border-radius: 8px;
    margin: 3px;
}
.menubar_cls a {
    text-decoration: none;
    color: #FCFCFC;
    letter-spacing: 0.01em;
}
.menubar_cls:hover {
    background-color: #2D6A95;
}

#logo {
    display: inline-block;
    width: 20%
}

#search {
    display: inline-block;
    width: 30%;
    text-align: right;
    background-color: #1E2A33;
    margin-left: 48%;
    border-radius: 7px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    vertical-align: bottom;

}

#search_bar input {
    height: 30px;
    width: 300px;
    vertical-align: bottom;
    font-size: 1em
}

.search_class {
    display: inline-block;
    /* padding: 5px; */
}

#socialize {
    color: #FCFCFC;
    vertical-align: super;
}

#carousel {
    width: 80%;
    margin: 0 auto;
}

#left_carousel {
    background-color: #1E2A33;
    width: 40%;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10%;
    padding-left: 20px;
}

#right_carousel {
    background-color: #1A3C54;
    width: 40%;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    margin-left: -4px;
}

#right_carousel h2 {
    color: #E8C25D;
}

#right_carousel p a {
    color: #E8C25D;
}

#info {
    text-align: center;
    color: #FCFCFC;
    font-size: 1.5em;
}

#survey {
    background-color: #FCFCFC;
    text-align: center;
    padding: 40px;
}

.comment {
    color: #666
}

.code {
    color: #11a611;
}

.output {
    color: #ddd;
}